<div class="grid-container">
  <div class="heading">
    <h1>ISOLATION VIOLATIONS</h1>
  </div>
  <div class="heading-buttons">
    <a href="/report" class="ui button">Report a Violation</a>
    <a href="/rules" class="ui button">View Rules</a>
  </div>
  <div>

  </div>
</div>