<div>
  <form action=>
    <input name="violationDesc"></input>
    <label>Example: </label>
    <input name="offenderId"></input>
    <input name="time"></input>
    <input name="location"></input>
    <textarea name="comment"></textarea>
  </form>
</div>
{id: 1, violationDesc: "asdgasdgasdg"}