<div>
  <form action=>
    <input name="violation"></input>
    <label>Example: </label>
    <input name="offenderName"></input>
    <input name="date"></input>
    <input name="location"></input>
    <textarea name="comment"></textarea>
    <input name="image"></input>
  </form>
</div>