<div>
  <div class="heading">
    <h1>Add Isolation Violation</h1>
  </div>
  <div class="form">
    <form class="report-form" action="/reports" method="POST">
      <input name="violation"></input>
      <label>Example: </label>
      <div class="field">
        <input name="offenderName"></input>
      </div>
      <div class="field">
      <input name="date"></input>
      </div>
      <div class="field">
      <input name="location"></input>
      </div>
      <div class="field">
      <textarea name="comment"></textarea>
      </div>
      <div class="field">
      <input name="image"></input>
      </div>
      <button class="submit-button" type="submit">Submit Violation</button>
    </form>
  </div>
</div>