<div>
  <div class="heading">
    <h1>Add Isolation Violation</h1>
  </div>
  <div class="form">
    <form class="report-form" action="/report" method="POST">
      <label>Name:</label>
      <div class="field">
        <input type="text" name="offenderName"></input>
      </div>
      <label>Crime commited:</label>
      <div class="field">
        <input type="text" name="violation"></input>
      </div>
      <label>Date:</label>
      <div class="field">
        <input type="text" name="date"></input>
      </div>
      <label>Violation Location:</label>
      <div class="field">
        <input type="text" name="location"></input>
      </div>
      <label>Additional Violation Information:</label>
      <div class="field">
        <textarea name="comment"></textarea>
      </div>
      <label>Image:</label>
      <div class="field">
        <input name="image"></input>
      </div>
      <button class="submit-button" type="submit">Submit Violation</button>
    </form>
  </div>
</div>